*{
	margin:0 auto;
}
.con{
	float:left;
	width: 300px;
    height: 300px;
	border : 2px solid #0f0;
}

.con1{
	float:left;
	width: 400px;
    height: 1000px;
	border : 2px solid #0f0;
}

.con2{
	float:left;
	width: 300px;
    height: 400px;
	border : 2px solid #0f0;
}

.con3{
	float:left;
	width: 250px;
    height: 1000px;
	border : 2px solid #0f0;
}

