*{
	margin:0 auto;
}
.con{
	float:left;
	width: 300px;
    height: 300px;
	border : 2px solid #0f0;
}

.con1{
	float:left;
	width: 300px;
    height: 400px;
	border : 2px solid #0f0;
	overflow:auto;
}

.con2{
	float:left;
	width: 150px;
    height: 400px;
	border : 2px solid #0f0;
}

.con3{
	float:left;
	width: 250px;
    height: 400px;
	border : 2px solid #0f0;
}

.con4{
	float:left;
	width: 250px;
	height: 450px;
	border : 2px solid #0f0;
}

.con5{
	float:left;
	width: 350px;
	height: 400px;
	border : 2px solid #0f0;
}

.con6{
	float:left;
	width: 100px;
	height: 400px;
	border : 2px solid #0f0;
}

input{
	width:50px
}
