<!DOCTYPE html>
<HTML>
<HEAD>
  <META CHARSET="utf-8" />
  <TITLE>Pomelo</TITLE>
  <META CONTENT="text/html;charset=utf-8" HTTP-EQUIV="content-type" />
  <SCRIPT SRC="./jquery-1.8.0.min.js"></SCRIPT>
  <style type="text/css">
    *{
       margin:0 auto;
    }
    div {
      float:left;
      width:250px;
      height:500px;
      border: 2px solid #0f0;

    }
        form {
      float:left;
      width:250px;
      height:500px;
      border: 2px solid #0f0;

    }
    input {
     display:block;
     margin-left: 0px;
    }
    select{
       display:block;
     margin-left: 0px;
    }
    p{
      color:blue;
    }
  </style>
  <script> 

      $(document).ready(function(){
         $("input").each(function(){
            if($(this).attr('name')){
              $(this).before($(this).attr('name'));
            }
        });
        $("select").each(function(){
            if($(this).attr('name')){
              $(this).before($(this).attr('name'));
            }
        });
        $(".button").click(function(){
          var route = $(this).prevAll('p').text();
          //var url = "http://112.124.17.216:8001/" + route;
          var url = route;
          var args = {};
          $(this).parent('div').find("input").each(function(){
            if($(this).attr('name')){
              args[$(this).attr('name')] = $(this).val();
            }
          });
          $(this).parent('div').find("select").each(function(){
            if($(this).attr('name')){
              args[$(this).attr('name')] = $(this).val();
            }
          });
          console.log(args);
          $.post(url, args, function(data, status) {
            console.log(data);
          }, "json");
        });
      });
  </script>
</HEAD>
<BODY>
  <div>
    <p>user/login</p>
    <INPUT name="phoneNumber" TYPE="text">
    <INPUT name="password" TYPE="text">
    <INPUT   class='button' TYPE="button" VALUE="登录"  />
    <p>user/logout</p>
    <INPUT class='button' TYPE="button" VALUE="退出"  />
  </div>

  <!--注册-->
  <div>
    <p>user/register</p>
    <INPUT name="phoneNumber" TYPE="text">
    <INPUT name="password" TYPE="text">
    <INPUT name="userName" TYPE="text">
    <INPUT name="headImgUrl" TYPE="text">
    <SELECT name="sex">
      <OPTION VALUE="0">男</OPTION>
      <OPTION VALUE="1">女</OPTION>
    </SELECT>
    <INPUT name="area" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="注册" />
  </div>

  <!--更新用户信息-->
  <div>
    <p>user/updateUserInfo</p>
    <INPUT name="userName" TYPE="text">
    <INPUT name="headImgUrl" TYPE="text">
    <SELECT name="sex" >
      <OPTION VALUE="0">男</OPTION>
      <OPTION VALUE="1">女</OPTION>
    </SELECT>
    <INPUT name="area" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="更新用户信息" />
  </div>

  <!--获取我的信息-->
  <div>
    <p>user/getMyInfo</p>
    <INPUT class='button' TYPE="button" VALUE="获取我的信息" />
  </div>
    <!--查看他人的资料-->
  <div>
    <p>user/getOtherInfo</p>
    <INPUT name="userId" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="查看他人的资料" />
  </div>
    <!--用户屏蔽另一个用户-->
  <div>
    <p>user/preventUser</p>
    <INPUT name="userPreId" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="用户屏蔽另一个用户" />
  </div>
    <!--用户取消屏蔽另一个用户-->
  <div>
    <p>user/cancelPreventUser</p>
    <INPUT name="userPreId" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="用户取消屏蔽另一个用户" />
  </div>

 <!--更新用户的拓展信息-->
  <div>
    <p>user/updateUserExtra</p>
    <INPUT name="appVersion" TYPE="text">
    <INPUT name="appVersion" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="更新用户的拓展信息" />
  </div>
    <!--用户电话号码是否注册-->
  <div>
    <p>user/testPhoneNumber</p>
    <INPUT name="phoneNumber" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="用户电话号码是否注册" />
  </div>
   <!--获取验证码-->
  <div>
    <p>hander/sendSms</p>
    <INPUT name="phoneNumber" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="获取验证码" />
  </div>
  <!--通过验证码修改密码-->
  <div>
    <p>user/findPassword</p>
    <INPUT name="phoneNumber" TYPE="text">
    <INPUT name="password" TYPE="text">
    <INPUT name="code" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="通过验证码修改密码" />
  </div>
  <!--修改密码-->
  <div>
    <p>user/modifyPassword</p>
    <INPUT name="oldPassword" TYPE="text">
    <INPUT name="newPassword" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="修改密码" />
  </div>
  <!--发布新商品-->
  <div>
    <p>commodity/addCommodity</p>
    <SELECT name="commodityType">
      <OPTION VALUE="1">1</OPTION>
      <OPTION VALUE="2">2</OPTION>
      <OPTION VALUE="3">3</OPTION>
      <OPTION VALUE="4">4</OPTION>
      <OPTION VALUE="5">5</OPTION>
      <OPTION VALUE="6">6</OPTION>
      <OPTION VALUE="7">7</OPTION>
      <OPTION VALUE="8">8</OPTION>
      <OPTION VALUE="9">9</OPTION>
      <OPTION VALUE="10">10</OPTION>
    </SELECT>
    <INPUT name="commodityDescription" TYPE="text">
    <INPUT name="commodityImgUrl1" TYPE="text">
    <INPUT name="commodityImgUrl2" TYPE="text">
    <INPUT name="commodityImgUrl3" TYPE="text">
    <INPUT name="payValue" TYPE="text">
    <INPUT name="soundLen" TYPE="text">
    <INPUT name="soundUrl" TYPE="text">
    <INPUT name="locationX" TYPE="text">
    <INPUT name="locationY" TYPE="text">
    <INPUT name="area" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="发布新商品" />
  </div>
  <!--更新商品-->
  <div>
    <p>commodity/updateCommodity</p>
    <INPUT name="commodityId" TYPE="text">
    <INPUT name="commodityDescription" TYPE="text">
    <INPUT name="commodityImgUrl1" TYPE="text">
    <INPUT name="commodityImgUrl2" TYPE="text">
    <INPUT name="commodityImgUrl3" TYPE="text">
    <INPUT name="locationX" TYPE="text">
    <INPUT name="locationY" TYPE="text">
    <INPUT name="payValue" TYPE="text">
    <INPUT name="soundLen" TYPE="text">
    <INPUT name="soundUrl" TYPE="text">
    <INPUT name="commodityType" TYPE="text">
    <INPUT class='button' TYPE="button"  VALUE="更新商品" />
  </div>

  <!--获取自己商品列表-->
  <div>
    <p>commodity/getMyCommodities</p>
     <INPUT name="issueTime" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="获取自己商品列表" />
  </div>
  <!--获取他人的商品列表-->
  <div>
    <p>commodity/getOtherCommodities</p>
    <INPUT name="userId" TYPE="text">
    <INPUT name="issueTime" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="获取他人的商品列表" />
  </div>
  <!--获取某个商品的具体信息-->
  <div>
    <p>commodity/getSingleCommodity</p>
    <INPUT name="commodityId" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="获取某个商品的具体信息"/>
  </div>
  <!--删除某个商品-->
  <div>
    <p>commodity/deleteCommodity</p>
    <INPUT name="commodityId" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="删除某个商品" />
  </div>

  <!--刷新商品时间-->
  <div>
    <p>commodity/refreshCommodity</p>
    <INPUT name="commodityId" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="刷新商品时间" />
  </div>

  <!--增加咨询的数量-->
  <div>
    <p>commodity/commodityTalkCount</p>
    <INPUT name="commodityId" TYPE="text">
    <INPUT name="commodityTalkCount" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="增加咨询的数量" />
  </div>
  <!--类型搜索获取附近的商品列表-->
  <div>
    <p>commodity/getCommodities</p>
    <INPUT name="issueTime" TYPE="text">
    <SELECT name="locationType" NAME="locationType">
      <OPTION VALUE="1">1</OPTION>
      <OPTION VALUE="2">2</OPTION>
      <OPTION VALUE="3">3</OPTION>
      <OPTION VALUE="4">4</OPTION>
      <OPTION VALUE="5">5</OPTION>
    </SELECT>
    <SELECT name="commodityType">
      <OPTION VALUE="0">0</OPTION>
      <OPTION VALUE="1">1</OPTION>
      <OPTION VALUE="2">2</OPTION>
      <OPTION VALUE="3">3</OPTION>
      <OPTION VALUE="4">4</OPTION>
      <OPTION VALUE="5">5</OPTION>
      <OPTION VALUE="6">6</OPTION>
      <OPTION VALUE="7">7</OPTION>
      <OPTION VALUE="8">8</OPTION>
      <OPTION VALUE="9">9</OPTION>
      <OPTION VALUE="10">10</OPTION>
    </SELECT>
    <INPUT name="locationX" TYPE="text">
    <INPUT name="locationY" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="类型搜索获取附近的商品列表" />
  </div>

  <!--关键字搜索获取附近的商品列表-->
  <div>
    <p>commodity/searchCommodities</p>
    <INPUT name="issueTime2" TYPE="text">
    <SELECT name="locationType" >
      <OPTION VALUE="1">1</OPTION>
      <OPTION VALUE="2">2</OPTION>
      <OPTION VALUE="3">3</OPTION>
      <OPTION VALUE="4">4</OPTION>
      <OPTION VALUE="5">5</OPTION>
    </SELECT>
    <INPUT name="keyword" TYPE="text">
    <INPUT name="locationX" TYPE="text">
    <INPUT name="locationY" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="关键字搜索获取附近的商品列表" />
  </div>

  <!--发表评论-->
  <div>
     <p>comment/addComment</p>
    <INPUT name="commodityId" TYPE="text">
    <INPUT name="content" TYPE="text">
    <INPUT name="userGetId" TYPE="text">
    <INPUT name="extras" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="发表评论" />
  </div>

  <!--获取某个商品的评论-->
  <div>
     <p>comment/getComments</p>
    <INPUT name="commodityId" TYPE="text">
    <INPUT name="commentTime" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="获取某个商品的评论" />
  </div>
  <!--获取自己的评论列表-->
  <div>
     <p>comment/getMyComments</p>
     <INPUT name="commentTime" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="获取自己的评论列表" />
  </div>
  <!--删除评论-->
  <div>
     <p>comment/deleteComment</p>
    <INPUT class='button' TYPE="button" VALUE="删除评论" />
  </div>
  <!--添加评论-->
  <div>
     <p>comment/addComment</p>
    <INPUT name="commodityId" TYPE="text">
    <INPUT name="userGetId" TYPE="text">    
    <INPUT name="content" TYPE="text">
    <INPUT name="userName" TYPE="text">
    <INPUT name="headImgUrl" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="添加评论" />
  </div>
    <!--通过用户id和时间查找新评论的条数-->
  <div>
     <p>comment/getNewCommentCount</p>
     <INPUT name="commentTime" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="新评论的条数" />
  </div>
  <!--通过用户id和时间查找新评论的信息-->
  <div>
     <p>comment/getNewCommentInfo</p>
    <INPUT class='button' TYPE="button" VALUE="新评论的信息" />
  </div>
  <!--查找我对别人的回复-->
  <div>
     <p>comment/getMyReply</p>
     <INPUT name="commentTime" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="查找我对别人的回复" />
  </div>
  <!--查找别人对我的回复-->
  <div>
     <p>comment/getOtherReply</p>
     <INPUT name="commentTime" TYPE="text">
    <INPUT class='button' TYPE="button" VALUE="查找别人对我的回复" />
  </div>
  <!--获取QiniuToken-->
  <div>
     <p>qiniu/getQiniuToken</p>
    <INPUT class='button' TYPE="button"  VALUE="获取QiniuToken" />
  </div>
  <form method="post" action="http://192.168.1.130:8001" enctype="multipart/form-data">
      <input name="token"  value="">
   <!-- http://up.qiniu.com-->
      <input name="key" value="">
      <input name="file"  type="file">
      <input type="submit" value="提交">
  </form>
  <!--获取当前版本信息-->
  <div>
     <p>hander/getVersion</p>
    <INPUT class='button' TYPE="button"  VALUE="获取当前版本信息" />
  </div>
    <!--推送消息-->
  <div>
    <p>chat/push</p>
    <INPUT name="userGetId" TYPE="text">    
    <INPUT name="content" TYPE="text">
    <INPUT name="extras" TYPE="text">
    <INPUT class='button' TYPE="button"  VALUE="推送消息" />
  </div>
</BODY>
</HTML>