<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      Pomelo
    </title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-scripte-type" content="text/javascript" />
    <script src="jquery-1.8.0.min.js"></script>
    <script src="js/client.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
<div class="body">
<div class="con1 battle">
   <span id="tip7"></span><br/>
    <input id="battle" type="button" value="战斗" /><br/>
</div>
<div class="con pl">
  玩家1：<br/>
  角色1名字:<span id="name1"></span><br/>
  hp：<span id="hp1"></span><br/>

  角色2名字:<span id="name2"></span><br/>
  hp：<span id="hp2"></span><br/>

</div>
<div class="con">
  玩家2：<br/>
  角色1名字:<span id="name11"></span><br/>
  hp：<span id="hp11"></span><br/>

  角色2名字:<span id="name12"></span><br/>
  hp：<span id="hp12"></span><br/>

</div>
  </body>
</html>